.root {
    position: relative;
    left: -120px;
}

.search {
    padding: 12px 45px;
    padding-left: 42px;
    outline: none;
    width: 300px;
    border-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3);  
    }
}

.icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 12px;
    top: 12px;
}

.close {
    stroke: black;
    width: 25px;
    height: 25px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}